@media screen and (max-width:650px){
    body {
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
    header {
        background-color: #FFFBF0;
    }
    
header .continer {
    width: 400px;
    height: 1050px;
    margin: 0 auto;
}
    nav ul li {
        display:none;
    }
    nav .nav-infu ul .icon  {
        display: block;
    }

    header .hed-section {
        display: flex;
        flex-direction: column;
    }
    header .header-img {
        width: 360px;
    }

    main .woman-jacket {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .footer-continer {
        display: flex;
        flex-direction: column;
        height: 1000px;
    }
.footer-box {
    display: flex;
    flex-direction: column;
}

}